---
title: LD-main
js: level.js
---

<style>

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #C1C6CB;
}

.circle {
    position: absolute;
    transition-duration: 300ms;
}

@-webkit-keyframes ball-appear {
    0% { opacity: 0; transform: scale(2); }
    100% { opacity: 0; transform: scale(1); }
}

@-webkit-keyframes ball-refuse-x {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(0.5, 2); }
}

@-webkit-keyframes ball-refuse-y {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(2, 0.5); }
}

.wrapper {
    position: absolute;
    height: 85%;
    width: 100%;
    left: 0px;
    top: 15%;
}

</style>

<script>

window.pages = window.pages || {};

pages.level = {};

var LEFT = 30;
var TOP = 130;
var UNIT = 101;

var NUDUR = 300;
var SUDUR = NUDUR + 'ms';

var UDUR = NUDUR + 'ms';


// Application layer
var LevelPhaseController = (function () {
    'use strict';

    var exports = function () {
        // construct each class
        this.map = new Map();
        this.evalBox = new EvalBox();

        this.pointBox = PointBox; // singleton
        this.ball = new Ball();
        this.scoreBox = ScoreBox;
    };

    var lpcPrototype = exports.prototype;

    lpcPrototype.init = function (level) {
        this.map.loadFromBomList(level.boms);

        var bms = new BallMoveMobLeaveService(this.ball, this.map, this.evalBox);

        var onMoveSuccess = this.onMoveSuccess.bind(this);
        var onMoveFailure = this.onMoveFailure.bind(this);

        var up = function () { bms.up().then(onMoveSuccess, onMoveFailure); };
        var down = function () { bms.down().then(onMoveSuccess, onMoveFailure); };
        var left = function () { bms.left().then(onMoveSuccess, onMoveFailure); };
        var right = function () { bms.right().then(onMoveSuccess, onMoveFailure); };

        bindEvents(up, down, left, right, this.reset.bind(this), this.score.bind(this));
    };

    lpcPrototype.loadCurrentLevel = function () {
        var path = (window.location.hash.substring(1) || 0) + '.json';

        var that = this;

        return this.getLevel(path);
    };

    lpcPrototype.reset = function () {
        console.log('lpc reset');
        this.map.empty();
        this.pointBox.reset();
        this.evalBox.reset();
        this.scoreBox.reset();

        var that = this;

        wait(500).then(function () {
            that.loadCurrentLevel().then(function (level) {
                that.init(level);
            });
        });
    };

    lpcPrototype.score = function (event, param) {
        this.scoreBox.add(param.score);
    };

    lpcPrototype.getLevel = function (path) {
        return Promise.resolve($.getJSON('level/' + path));
    };

    lpcPrototype.onMoveSuccess = function () {
    };

    lpcPrototype.onMoveFailure = function () {
    };

    return exports;

}());


// main
$(function () {
    var lpc = new LevelPhaseController();

    lpc.loadCurrentLevel().then(function (level) {
        lpc.init(level);
    });
});


// Domain layer
var BallMoveMobLeaveService = (function () {
    'use strict';

    var exports = function (ball, wanderers, box) {
        this.ball = ball;
        this.mobs = new Mobs(wanderers);
        this.box = box;
    };

    var bmsPrototype = exports.prototype;

    bmsPrototype.move = function (dir) {

        // position interface
        // pos.x x-coordinate
        // pos.y y-coordinate
        var pos = this.ball.posAhead(dir);

        if (this.mobs.find(pos) == null) {

            this.ball.refuseToMove();

            return Promise.reject();
        }

        this.ball[dir]();

        var w = this.mobs.leave(pos);

        this.box.push(w);

        return Promise.resolve();
    };

    bmsPrototype.up = function () { return this.move('up'); };
    bmsPrototype.down = function () { return this.move('down'); };
    bmsPrototype.right = function () { return this.move('right'); };
    bmsPrototype.left = function () { return this.move('left'); };

    // `Mobs` role (extends Map)
    var Mobs = function (wanderers) {
        this.wanderers = wanderers;
    };

    var mobsPrototype = Mobs.prototype;

    mobsPrototype.leave = function (pos) {
        var w = this.wanderers.select(pos);
        this.wanderers.filter(w);

        w = w[0];

        this.wanderers.selectRange(pos).forEach(function (cell) {
            cell.up();
        });

        return w;
    };

    mobsPrototype.find = function (pos) {
        return this.wanderers.find(pos);
    };

    return exports;

}());


// The box above the grid
var EvalBox = (function () {
    'use strict';

    var exports = function () {
    };

    exports.TOP = -20;
    exports.LEFT = 40;
    exports.UNIT = UNIT / 2;
    exports.M = 5;
    exports.N = 5;

    var boxPrototype = exports.prototype;

    boxPrototype.push = function (wanderer) {
        if (this.left == null) {

            this.setLeft(wanderer);

            return;
        };

        this.setRight(wanderer);

        evaluate(this.left, this.right);

        delete this.left;
        delete this.right;

    };

    var evaluate = function (left, right) {

        PointBox.countUp(left.gender, right.gender);

        if (left.gender === right.gender) {

            score(10);

            apart(left, right, 300);

            return;
        }

        score(100);

        close(left, right, 300);

    };

    var score = function (score) {
        $(document).trigger('score', {score: score});
    };

    var apart = function (a, b, delay) {

        setTimeout(function () {
            a.left();
            b.right();

            goodbyeUnhappy(a, b, 300);
        }, delay);

    };

    var close = function (a, b, delay) {

        setTimeout(function () {
            a.right();
            b.left();

            a.up();
            b.up();

            goodbyeHappy(a, b, 300);
        }, delay);

    };

    var goodbyeUnhappy = function (left, right, delay) {
        setTimeout(function () {
            left.fadeAwayUnhappy();
            right.fadeAwayUnhappy();
        }, delay);
    };
    var goodbyeHappy = function (left, right, delay) {
        setTimeout(function () {
            left.fadeAwayHappy();
            right.fadeAwayHappy();
        }, delay);
    };

    boxPrototype.involve = function (wanderer) {
        wanderer.setMetrics(exports.LEFT, exports.TOP, exports.UNIT, exports.M, exports.N);
    };

    boxPrototype.setLeft = function (wanderer) {
        this.involve(wanderer);
        wanderer.x = 1;
        wanderer.y = 1;
        wanderer.locate();
        this.left = wanderer;
    };

    boxPrototype.setRight = function (wanderer) {
        this.involve(wanderer);
        wanderer.x = 3;
        wanderer.y = 1;
        wanderer.locate();
        this.right = wanderer;
    };

    boxPrototype.reset = function () {
        if (this.left != null) { this.left.remove(); }
        if (this.right != null) { this.right.remove(); }

        this.left = null;
        this.right = null;
    };

    return exports;

}());


// List of boms
var Map = (function () {
    'use strict';

    var exports = function () {
        var cells = this.cells = [];

        this.$dom = $(document.body);
    };

    exports.TOP = TOP;
    exports.LEFT = LEFT;
    exports.UNIT = UNIT;
    exports.M = 3;
    exports.N = 12;

    /**
     *
     *
     * @return {Map}
     */
    exports.createFromBomList = function (bomList) {
        return new exports().loadFromBomList(bomList);
    };

    /**
     *
     *
     * @return {Wanderer}
     */
    exports.createCellFromBom = function (bom) {
        return new Wanderer(bom.x, bom.y, bom.gender, exports.LEFT, exports.TOP, exports.UNIT, exports.M, exports.N);
    };

    var mapPrototype = exports.prototype;

    mapPrototype.empty = function () {
        this.cells.forEach(function (cell) { cell.remove(); });

        this.cells = [];
    };

    mapPrototype.loadFromBomList = function (bomList) {
        bomList.forEach(function (bom) {
            this.loadOne(exports.createCellFromBom(bom));
        }, this);

        return this;
    };

    mapPrototype.loadList = function (list) {
        list.forEach(function (cell) { this.loadOne(cell); }, this);

        return this;
    };

    mapPrototype.loadOne = function (cell) {
        this.cells.push(cell);

        cell.locate();

        cell.prependTo(this.$dom);

        return this;
    };


    mapPrototype.commandAll = function (command, args) {

        this.cells.forEach(function (cell) {
            cell[command](args);
        });

    };

    // help item ?
    mapPrototype.allUp = function () { this.commandAll('up'); };
    mapPrototype.allDown = function () { this.commandAll('down'); };
    mapPrototype.allRight = function () { this.commandAll('right'); };
    mapPrototype.allLeft = function () { this.commandAll('left'); };

    mapPrototype.select = function (pos) {
        return this.cells.filter(function (cell) {
            return cell.x === pos.x && cell.y === pos.y;
        });
    };

    mapPrototype.find = function (pos) {
        var cand = this.select(pos);

        if (cand.length === 0) {
            return null;
        }

        return cand[0];
    };

    mapPrototype.selectRange = function (pos) {
        return this.cells.filter(function (cell) {
            return cell.x === pos.x && cell.y > pos.y;
        });
    };

    mapPrototype.filter = function (cells) {
        this.cells = this.cells.filter(function (cell) {
            return cells.indexOf(cell) < 0;
        });
    };

    return exports;

}());


// A bom
var Wanderer = (function () {
    'use strict';

    var exports = function (x, y, gender, left, top, unit, m, n) {
        this.x = x;
        this.y = y;

        this.$dom = $('<img />').css({
            'position': 'absolute',
            'width': '51px',
            'height': '51px',
            'transition-duration': UDUR,
        });

        this.setGender(gender);
        this.setMetrics(left, top, unit, m, n);
    };

    var wPrototype = exports.prototype;

    wPrototype.element = function () {
        return this.$dom;
    };

    wPrototype.prependTo = function (dom) {
        this.$dom.prependTo(dom);
    };

    wPrototype.setGender = function (gender) {
        this.gender = gender;

        if (gender === 'm') {
            this.setMaleColor();
        } else if (gender === 'f') {
            this.setFemaleColor();
        }

        return this;
    };

    wPrototype.setFemaleColor = function () {
        this.$dom.attr('src', 'images/neef.svg');
    };

    wPrototype.setMaleColor = function () {
        this.$dom.attr('src', 'images/nim.svg');
    };

    wPrototype.setMetrics = function (left, top, unit, wrapX, wrapY) {
        this.offsetX = left;
        this.offsetY = top;
        this.unit = unit;
        this.wrapX = wrapX;
        this.wrapY = wrapY;

        return this;
    };

    wPrototype.locate = function () {
        this.$dom.css({
            'top': this.offsetY + this.unit * this.y + 25 + 'px',
            'left': this.offsetX + this.unit * this.x + 25 + 'px',
        });
    };

    wPrototype.fadeAwayHappy = function () {
        this.$dom.css('transform', 'scale(2)');
        this.fadeAway();
    };

    wPrototype.fadeAwayUnhappy = function () {
        this.$dom.css('transform', 'rotate(45deg)');
        this.fadeAway();
    };

    wPrototype.fadeAway = function () {
        var that = this;
        setTimeout(function () {
        that.$dom.css('opacity', 0);

        setTimeout(function () {
            that.remove();
        }, 1000);
        }, 300);
    };

    wPrototype.remove = function () {
        this.$dom.remove();
    };

    wPrototype.move = function (x, y) {
        this.x += this.wrapX + x;
        this.x %= this.wrapX;
        this.y += this.wrapY + y;
        this.y %= this.wrapY;

        this.locate();
    };

    wPrototype.up = function () { this.move(0, -1); };
    wPrototype.down = function () { this.move(0, 1); };
    wPrototype.left = function () { this.move(-1, 0); };
    wPrototype.right = function () { this.move(1, 0); };

    return exports;
}());





// The ball you move, or swipe
var Ball = (function () {

    var exports = function () {
        this.x = 1;
        this.y = 1;
        this.MAX = 3;
        this.$dom = $('.circle');
    };

    var ballPrototype = exports.prototype;

    ballPrototype.up = function () { this.move(0, 2); };
    ballPrototype.down = function () { this.move(0, 1); };
    ballPrototype.left = function () { this.move(2, 0); };
    ballPrototype.right = function () { this.move(1, 0); };

    ballPrototype.pos = function () {
        return {x: this.x, y: this.y};
    };

    ballPrototype.posAhead = function (dir) {
        var x, y;
        switch (dir) {
            case 'up': x = this.x + 0; y = this.y + 2; break
            case 'down': x = this.x + 0; y = this.y + 1; break
            case 'left': x = this.x + 2; y = this.y + 0; break
            case 'right': x = this.x + 1; y = this.y + 0; break
        }
        return {x: x % this.MAX, y: y % this.MAX};
    };

    ballPrototype.move = function (x, y) {
        this.x += x;
        this.x %= this.MAX;
        this.y += y;
        this.y %= this.MAX;

        this.$dom
            .css('top', TOP + this.y * UNIT + 'px')
            .css('left', LEFT + this.x * UNIT + 'px');
    };

    ballPrototype.refuseToMove = function () {
        this.$dom.animation('ball-refuse-y 300ms');

        return wait(NUDUR);
    };

    return exports;
}());

// displaying current point
var PointBox = {
    reset: function () {
    },
    getCount: function (gender0, gender1) {
        return parseInt(this.getTarget(gender0, gender1).text());
    },
    setCount: function (gender0, gender1, count) {
        this.getTarget(gender0, gender1).text(count);
    },
    countUp: function (gender0, gender1) {
        this.setCount(gender0, gender1, this.getCount(gender0, gender1) + 1);
    },
    reset: function () {
        this.setCount('f', 'f', 0);
        this.setCount('m', 'f', 0);
        this.setCount('f', 'm', 0);
        this.setCount('m', 'm', 0);
    },
    getTarget: function (gender0, gender1) {
        var genderPair = gender0 + gender1;
        return $('.point .' + genderPair);
    }
};

var ScoreBox = {
    add: function (point) {
        this.setScore(this.getScore() + point);
    },
    getScore: function () {
        return parseInt(this.getTarget().text());
    },
    setScore: function (score) {
        this.getTarget().text(score);
    },
    reset: function () {
        this.setScore(0);
    },
    getTarget: function () {
        return $('.point .level-score');
    }
};

</script>

<body>

<button class="reset">reset</button>

<svg class="circle" width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <circle cx="50" cy="50" r="49" stroke-width="2" stroke-opacity="0.4" stroke="#000000" fill="#909090" fill-opacity="0.5"/>
</svg>

<div class="wrapper"></div>

<div class="point" style="font-family: menlo; margin-left: 300px;">
m + f = <span class="mf">0</span><br />
f + m = <span class="fm">0</span><br />
m + m = <span class="mm">0</span><br />
f + f = <span class="ff">0</span><br />
Score = <span class="level-score">0</span><br />
</div>
