---
title: LD-main
js: level.js
---

<style>

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #C1C6CB;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle {
    position: absolute;
    visibility: hidden;
    transition-duration: 300ms;
}

.field-grid {
    position: absolute;
    z-index: -1;
}

@-webkit-keyframes ball-appear {
    0% { opacity: 0; transform: scale(2); }
}

@-webkit-keyframes ball-refuse-x {
    50% { transform: scale(0.5, 2); opacity: 0.2; }
}

@-webkit-keyframes ball-refuse-y {
    50% { transform: scale(2, 0.5); opacity: 0.2; }
}

@-webkit-keyframes bom-appear {
    0% { opacity: 0; transform: translate(0, 10px); }
}


.wrapper {
    position: absolute;
    height: 85%;
    width: 100%;
    left: 0px;
    top: 15%;
}

</style>

<script>

window.pages = window.pages || {};

pages.level = {};

var LEFT = 30;
var TOP = 130;
var UNIT = 101;

var NUDUR = 300;
var SUDUR = NUDUR + 'ms';

var UDUR = NUDUR + 'ms';


// Application layer
var LevelPhaseController = (function () {
    'use strict';

    var FIELD_TOP = 130; // top of main field in px
    var FIELD_WIDTH = 80; // width of main field in percent (80%)
    var FIELD_NUM = 3; // number of columns or rows in main field

    var exports = function () {
        // construct each class
        this.map = new Map(new Positioner(FIELD_TOP, FIELD_WIDTH, FIELD_NUM).metrics());
        this.evalBox = new EvalBox();
        this.field = new Field(new Positioner(FIELD_TOP, FIELD_WIDTH, FIELD_NUM).metrics());

        this.ball = new Ball(new Positioner(FIELD_TOP, FIELD_WIDTH, FIELD_NUM).metrics());

        // debug things
        this.pointBox = PointBox; // singleton
        this.scoreBox = ScoreBox;
    };

    var lpcPrototype = exports.prototype;

    lpcPrototype.init = function (level) {
        var that = this;

        this.map.loadFromBomList(level.boms);

        this.field.appear()
            .then(function () { return that.ball.appear(); })
            .then(function () { return that.map.appear('#main'); });

        var bms = new BallMoveMobLeaveService(this.ball, this.map, this.evalBox);

        var onMoveSuccess = this.onMoveSuccess.bind(this);
        var onMoveFailure = this.onMoveFailure.bind(this);

        var up = function () { bms.up().then(onMoveSuccess, onMoveFailure); };
        var down = function () { bms.down().then(onMoveSuccess, onMoveFailure); };
        var left = function () { bms.left().then(onMoveSuccess, onMoveFailure); };
        var right = function () { bms.right().then(onMoveSuccess, onMoveFailure); };

        bindEvents(up, down, left, right, this.reset.bind(this), this.score.bind(this));
    };

    lpcPrototype.loadCurrentLevel = function () {
        var path = (window.location.hash.substring(1) || 0) + '.json';

        var that = this;

        return this.getLevel(path);
    };

    lpcPrototype.reset = function () {
        console.log('lpc reset');
        this.map.empty();
        this.pointBox.reset();
        this.evalBox.reset();
        this.scoreBox.reset();

        var that = this;

        wait(500).then(function () {

            return that.loadCurrentLevel();

        }).then(function (level) {

            that.init(level);

        });
    };

    lpcPrototype.score = function (event, param) {
        this.scoreBox.add(param.score);
    };

    lpcPrototype.getLevel = function (path) {
        return Promise.resolve($.getJSON('level/' + path));
    };

    lpcPrototype.onMoveSuccess = function () {
    };

    lpcPrototype.onMoveFailure = function () {
    };

    return exports;

}());


// main
$(function () {
    var lpc = new LevelPhaseController();

    lpc.loadCurrentLevel().then(function (level) {
        lpc.init(level);
    });
});

// Util
// calculate TOP, LEFT, UNIT, M, N when given top, fieldWidthPercent, M

var Positioner = (function () {
    var exports = function (top, fieldWidthPercent, m) {
        this.top = top;
        this.fwp = fieldWidthPercent;
        this.m = m;
        this.calc();
    };

    var positionerPt = exports.prototype;

    positionerPt.calc = function () {
        this.width = $(window).width();
        this.height = $(window).height();

        var shorter = Math.min(this.width, this.height - this.top);

        this.fieldWidth = shorter * this.fwp / 100;

        this.LEFT = Math.floor((this.width - this.fieldWidth) / 2);
        this.TOP = this.top;

        this.UNIT = Math.floor(this.fieldWidth / this.m);
    };

    positionerPt.metrics = function () {
        return {top: this.TOP, left: this.LEFT, unit: this.UNIT, width: this.UNIT * this.m};
    };

    return exports;
}());


// Domain layer
var BallMoveMobLeaveService = (function () {
    'use strict';

    var exports = function (ball, wanderers, box) {
        this.ball = ball;
        this.mobs = new Mobs(wanderers);
        this.box = box;
    };

    var bmsPrototype = exports.prototype;

    bmsPrototype.move = function (dir) {

        // position interface
        // pos.x x-coordinate
        // pos.y y-coordinate
        var pos = this.ball.posAhead(dir);

        if (this.mobs.find(pos) == null) {

            this.ball.refuseToMove();

            return Promise.reject();
        }

        this.ball[dir]();

        var w = this.mobs.leave(pos);

        this.box.push(w);

        return Promise.resolve();
    };

    bmsPrototype.up = function () { return this.move('up'); };
    bmsPrototype.down = function () { return this.move('down'); };
    bmsPrototype.right = function () { return this.move('right'); };
    bmsPrototype.left = function () { return this.move('left'); };

    // `Mobs` role (extends Map)
    var Mobs = function (wanderers) {
        this.wanderers = wanderers;
    };

    var mobsPrototype = Mobs.prototype;

    mobsPrototype.leave = function (pos) {
        var w = this.wanderers.select(pos);
        this.wanderers.filter(w);

        w = w[0];

        this.wanderers.selectRange(pos).forEach(function (cell) {
            cell.up();
        });

        return w;
    };

    mobsPrototype.find = function (pos) {
        return this.wanderers.find(pos);
    };

    return exports;

}());


// The box above the grid
var EvalBox = (function () {
    'use strict';

    var exports = function () {
    };

    exports.TOP = -20;
    exports.LEFT = 40;
    exports.UNIT = UNIT / 2;

    var boxPrototype = exports.prototype;

    boxPrototype.push = function (wanderer) {
        if (this.left == null) {

            this.setLeft(wanderer);

            return;
        };

        this.setRight(wanderer);

        evaluate(this.left, this.right);

        delete this.left;
        delete this.right;

    };

    var evaluate = function (left, right) {

        PointBox.countUp(left.gender, right.gender);

        if (left.gender === right.gender) {

            score(10);

            apart(left, right, 300);

            return;
        }

        score(100);

        close(left, right, 300);

    };

    var score = function (score) {
        $(document).trigger('score', {score: score});
    };

    var apart = function (a, b, delay) {

        setTimeout(function () {
            a.left();
            b.right();

            goodbyeUnhappy(a, b, 300);
        }, delay);

    };

    var close = function (a, b, delay) {

        setTimeout(function () {
            a.right();
            b.left();

            a.up();
            b.up();

            goodbyeHappy(a, b, 300);
        }, delay);

    };

    var goodbyeUnhappy = function (left, right, delay) {
        setTimeout(function () {
            left.fadeAwayUnhappy();
            right.fadeAwayUnhappy();
        }, delay);
    };
    var goodbyeHappy = function (left, right, delay) {
        setTimeout(function () {
            left.fadeAwayHappy();
            right.fadeAwayHappy();
        }, delay);
    };

    boxPrototype.involve = function (wanderer) {
        wanderer.setMetrics(exports.LEFT, exports.TOP, exports.UNIT);
    };

    boxPrototype.setLeft = function (wanderer) {
        this.involve(wanderer);
        wanderer.x = 1;
        wanderer.y = 1;
        wanderer.locate();
        this.left = wanderer;
    };

    boxPrototype.setRight = function (wanderer) {
        this.involve(wanderer);
        wanderer.x = 3;
        wanderer.y = 1;
        wanderer.locate();
        this.right = wanderer;
    };

    boxPrototype.reset = function () {
        if (this.left != null) { this.left.remove(); }
        if (this.right != null) { this.right.remove(); }

        this.left = null;
        this.right = null;
    };

    return exports;

}());


// List of boms
var Map = (function () {
    'use strict';

    var exports = function (metrics) {
        var cells = this.cells = [];

        this.$dom = $(document.body);

        this.top = metrics.top;
        this.left = metrics.left;
        this.unit = metrics.unit;
    };

    /**
     *
     *
     * @return {Map}
     */
    exports.createFromBomList = function (bomList) {
        return new exports().loadFromBomList(bomList);
    };

    var mapPrototype = exports.prototype;

    /**
     *
     *
     * @return {Wanderer}
     */
    mapPrototype.createCellFromBom = function (bom) {
        return new Wanderer(bom.x, bom.y, bom.gender, this.left, this.top, this.unit);
    };

    mapPrototype.empty = function () {
        this.cells.forEach(function (cell) { cell.remove(); });

        this.cells = [];
    };

    mapPrototype.loadFromBomList = function (bomList) {
        bomList.forEach(function (bom) {
            this.loadOne(this.createCellFromBom(bom));
        }, this);

        return this;
    };

    mapPrototype.loadList = function (list) {
        list.forEach(function (cell) { this.loadOne(cell); }, this);

        return this;
    };

    mapPrototype.loadOne = function (cell) {
        this.cells.push(cell);

        cell.locate();

        return this;
    };

    mapPrototype.appear = function (dom) {

        var promise = wait(10);

        this.cells.forEach(function (cell) {
            promise = promise.then(function () { return cell.appear(dom); });
        });

        return promise;
    };

    mapPrototype.commandAll = function (command, args) {

        this.cells.forEach(function (cell) {
            cell[command](args);
        });

    };

    // help item ?
    mapPrototype.allUp = function () { this.commandAll('up'); };
    mapPrototype.allDown = function () { this.commandAll('down'); };
    mapPrototype.allRight = function () { this.commandAll('right'); };
    mapPrototype.allLeft = function () { this.commandAll('left'); };

    mapPrototype.select = function (pos) {
        return this.cells.filter(function (cell) {
            return cell.x === pos.x && cell.y === pos.y;
        });
    };

    mapPrototype.find = function (pos) {
        var cand = this.select(pos);

        if (cand.length === 0) {
            return null;
        }

        return cand[0];
    };

    mapPrototype.selectRange = function (pos) {
        return this.cells.filter(function (cell) {
            return cell.x === pos.x && cell.y > pos.y;
        });
    };

    mapPrototype.filter = function (cells) {
        this.cells = this.cells.filter(function (cell) {
            return cells.indexOf(cell) < 0;
        });
    };

    return exports;

}());


// A bom
var Wanderer = (function () {
    'use strict';

    var exports = function (x, y, gender, left, top, unit) {
        this.x = x;
        this.y = y;
        this.width = Math.floor(unit / 2);
        this.gutter = Math.floor(unit / 4);

        this.$dom = $('<img />').css({
            'position': 'absolute',
            'width': this.width + 'px',
            'height': this.width + 'px',
            'transition-duration': UDUR,
        });

        this.setGender(gender);
        this.setMetrics(left, top, unit);
    };

    var wPrototype = exports.prototype;

    wPrototype.element = function () {
        return this.$dom;
    };

    wPrototype.setGender = function (gender) {
        this.gender = gender;

        if (gender === 'm') {
            this.setMaleColor();
        } else if (gender === 'f') {
            this.setFemaleColor();
        }

        return this;
    };

    wPrototype.setFemaleColor = function () {
        this.$dom.attr('src', 'images/neef.svg');
    };

    wPrototype.setMaleColor = function () {
        this.$dom.attr('src', 'images/nim.svg');
    };

    wPrototype.appear = function (dom) {

        this.$dom.prependTo(dom || document.body).animation('bom-appear 500ms');

        return wait(40);
    };

    wPrototype.setMetrics = function (left, top, unit) {
        this.offsetX = left;
        this.offsetY = top;
        this.unit = unit;

        return this;
    };

    wPrototype.locate = function () {
        this.$dom.css({
            'top': this.offsetY + this.unit * this.y + this.gutter + 'px',
            'left': this.offsetX + this.unit * this.x + this.gutter + 'px',
        });
    };

    wPrototype.fadeAwayHappy = function () {
        this.$dom.css('transform', 'scale(2)');
        this.fadeAway();
    };

    wPrototype.fadeAwayUnhappy = function () {
        this.$dom.css('transform', 'rotate(45deg)');
        this.fadeAway();
    };

    wPrototype.fadeAway = function () {
        var that = this;

        setTimeout(function () {
            that.$dom.css('opacity', 0);

            setTimeout(function () {
                that.remove();
            }, 1000);
        }, 300);
    };

    wPrototype.remove = function () {
        this.$dom.remove();
    };

    wPrototype.move = function (x, y) {
        this.x += x;
        this.y += y;

        this.locate();
    };

    wPrototype.up = function () { this.move(0, -1); };
    wPrototype.down = function () { this.move(0, 1); };
    wPrototype.left = function () { this.move(-1, 0); };
    wPrototype.right = function () { this.move(1, 0); };

    return exports;
}());




// The ball you move, or swipe
var Ball = (function () {

    var exports = function (metrics) {
        this.x = 1;
        this.y = 1;
        this.MAX = 3;
        this.$dom = $('.circle')
            .css({width: metrics.unit + 'px', height: metrics.unit + 'px'});

        this.metrics = metrics;

        this.locate();
    };

    var ballPrototype = exports.prototype;

    ballPrototype.appear = function () {
        var dur = 800;

        this.$dom.css('visibility', 'visible');
        this.$dom.animation('ball-appear ' + dur + 'ms');

        return wait(dur);
    };

    ballPrototype.up = function () { this.setPos(this.posAhead('up')); };
    ballPrototype.down = function () { this.setPos(this.posAhead('down')); };
    ballPrototype.left = function () { this.setPos(this.posAhead('left')); };
    ballPrototype.right = function () { this.setPos(this.posAhead('right')); };

    ballPrototype.pos = function () {
        return {x: this.x, y: this.y};
    };

    ballPrototype.posAhead = function (dir) {
        switch (dir) {
            case 'up': return this.relativePos(0, -1);
            case 'down': return this.relativePos(0, 1);
            case 'left': return this.relativePos(-1, 0);
            case 'right': return this.relativePos(1, 0);
        }
    };

    ballPrototype.relativePos = function (x, y) {
        return {x: (this.x + x + this.MAX) % this.MAX, y: (this. y + y + this.MAX) % this.MAX};
    };

    ballPrototype.setPos = function (pos) {
        this.x = pos.x;
        this.y = pos.y;

        this.locate();
    };

    ballPrototype.locate = function () {
        this.$dom.css('top', this.metrics.top + this.y * this.metrics.unit + 'px');
        this.$dom.css('left', this.metrics.left + this.x * this.metrics.unit + 'px');
    };

    ballPrototype.refuseToMove = function () {
        this.$dom.animation('ball-refuse-y 300ms');

        return wait(NUDUR);
    };

    return exports;
}());

var Field = (function () {

    var APPEAR_DUR = 200;

    var exports = function (metrics) {
        var gutter = 6;
        this.left = metrics.left - gutter;
        this.top = metrics.top - gutter;
        this.unit = metrics.unit;
        this.width = metrics.width + gutter * 2
    };

    var fPrototype = exports.prototype;

    fPrototype.appear = function () {
        var that = this;
        return loadImage('images/field.svg', 'field-grid', document.body).then(function ($img) {
            var dur = APPEAR_DUR;

            that.$dom = $img;

            $img.css('left', that.left + 'px');
            $img.css('top', that.top + 'px');
            $img.css('width', that.width + 'px');

            $img.animation('ball-appear ' + dur + 'ms');

            return wait(dur);
        });
    };

    return exports;
}());

// displaying current point
var PointBox = {
    reset: function () {
    },
    getCount: function (gender0, gender1) {
        return parseInt(this.getTarget(gender0, gender1).text());
    },
    setCount: function (gender0, gender1, count) {
        this.getTarget(gender0, gender1).text(count);
    },
    countUp: function (gender0, gender1) {
        this.setCount(gender0, gender1, this.getCount(gender0, gender1) + 1);
    },
    reset: function () {
        this.setCount('f', 'f', 0);
        this.setCount('m', 'f', 0);
        this.setCount('f', 'm', 0);
        this.setCount('m', 'm', 0);
    },
    getTarget: function (gender0, gender1) {
        var genderPair = gender0 + gender1;
        return $('.point .' + genderPair);
    }
};

var ScoreBox = {
    add: function (point) {
        this.setScore(this.getScore() + point);
    },
    getScore: function () {
        return parseInt(this.getTarget().text());
    },
    setScore: function (score) {
        this.getTarget().text(score);
    },
    reset: function () {
        this.setScore(0);
    },
    getTarget: function () {
        return $('.point .level-score');
    }
};

</script>

<body>

<div id="main">

<button class="reset">reset</button>

<svg class="circle" width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <circle cx="50" cy="50" r="49" stroke-width="2" stroke-opacity="0.4" stroke="#000000" fill="#909090" fill-opacity="0.5"/>
</svg>

<div class="wrapper"></div>

<div class="point" style="font-family: menlo; margin-left: 300px;">
m + f = <span class="mf">0</span><br />
f + m = <span class="fm">0</span><br />
m + m = <span class="mm">0</span><br />
f + f = <span class="ff">0</span><br />
Score = <span class="level-score">0</span><br />

</div>

</div>
