---
title: LD-main
js: level.js
body: dark-bg
---

<style>

.wrapper {
    position: absolute;
    height: 85%;
    width: 100%;
    left: 0px;
    top: 15%;
    z-index: 1;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle {
    position: absolute;
    visibility: hidden;
    transition-duration: 300ms;
}

.field-grid {
    position: absolute;
    left: -1000px;
    top: -1000px;
    z-index: -1;
}

.piece-of-paper {
    z-index: -1;
}

.ma-speech {
    line-height: 50px;
    text-align: center;
    color: #191B1D;

}
.ma-speech p {
    width: 100%;
}

@-webkit-keyframes ball-appear {
    0% { opacity: 0; transform: scale(0); }
}

@-webkit-keyframes ball-disappear {
    100% { opacity: 0; transform: scale(0); }
}

@-webkit-keyframes ball-refuse-x {
    50% { transform: scale(2, 0.5); opacity: 0.2; }
}

@-webkit-keyframes ball-refuse-y {
    50% { transform: scale(0.5, 2); opacity: 0.2; }
}

@-webkit-keyframes field-appear {
    0% { opacity: 0; transform: scale(2); }
}

@-webkit-keyframes field-disappear {
    100% { opacity: 0; transform: scale(0); }
}

@-webkit-keyframes bom-appear {
    0% { opacity: 0; transform: translate(0, 10px); }
}

@-webkit-keyframes bom-disappear {
    100% { opacity: 0; transform: translate(0, 10px); }
}

@-webkit-keyframes bom-born {
    0% { opacity: 0; transform: translate(0, 10px) scale(0); }
    50% { opacity: 1; transform: translate(0, 0px) scale(1.2); }
    100% { opacity: 1; transform: translate(0, 0px) scale(1); }
}

@-webkit-keyframes go-to-trash {
    100% { opacity: 0; transform: translate(0, 10px) scale(0); }
}

@-webkit-keyframes get-to-reactor-left {
    0% { opacity: 1; transform: translate(0, 0) rotate(0) scale(1); }
    50% { opacity: 1; transform: translate(20px, 0) rotate(0) scale(1); }
    100% { opacity: 0; transform: translate(40px, 0) rotate(360deg) scale(0); }
}

@-webkit-keyframes get-to-reactor-right {
    0% { opacity: 1; transform: translate(0, 0) rotate(0) scale(1); }
    50% { opacity: 1; transform: translate(-20px, 0) rotate(0) scale(1); }
    100% { opacity: 0; transform: translate(-40px, 0) rotate(-360deg) scale(0); }
}

@-webkit-keyframes paper-appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-webkit-keyframes paper-disappear {
    0% { opacity: 1 }
    100% { opacity: 0 }
}



</style>

<script>
var lpc;
var ps;
var is;
var os;
var reload = false;

// main
$(function () {
    'use strict';

    lpc = new pages.level.PhaseController();

    lpc.loadCurrentLevel().then(function (level) {

        return new scene.level.IntroScene(level).play();

    }).then(function (prevScene) {

        is = prevScene;

        ps = new scene.level.PlayScene(prevScene);

        return ps.play();

    }).then(function (prevScene) {

        os = new scene.level.OutroScene(prevScene);

        return os.play();

    }).then(function () {

        if (reload) {
            location.reload();
            return;
        }

        history.back();

    });
});

</script>

<div id="main">

<svg class="circle" width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <circle cx="50" cy="50" r="45" stroke-width="6" stroke-opacity="0.9" stroke="#636E79" fill="#9BA3AB" fill-opacity="0.5"/>
</svg>

<div class="wrapper"></div>

<div class="point hidden" style="font-family: menlo; margin-left: 300px;">
m + f = <span class="mf">0</span><br />
f + m = <span class="fm">0</span><br />
m + m = <span class="mm">0</span><br />
f + f = <span class="ff">0</span><br />
Score = <span class="level-score">0</span><br />

</div>

</div>

<img class="menu-button menu-hidden" src="images/menu-button.svg" />

<menus id="level-menu">
  <menu src="images/back-button.svg" onclick="ps.finish();"></menu>
  <menu src="images/reset-button.svg" onclick="ps.finish(); reload = true; "></menu>
</menus>
