---
title: LD-map
js: map.js
css: map.css
body: dark-bg
---
<style>

.floorboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #4E5760;
    transition-duration: 500ms;
    transition-property: transform;
    transform: scale(1, 0);
}

.map-scene {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.01);
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.floor-asset-collection {
    position: absolute;
    left: 0; top: 0;
    height: 100%;
}

.door-body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #7F8B96;
    z-index: 1;
    text-align: center;
    font-weight: bold;
    transform-origin: 0 0;
    transform-style: preserve-3d;
    backface-visibility: visible;
    perspective: 800px;
    transition-duration: 700ms;
}

.door {
    position: absolute;
    background-color: #191B1D;
}

.door-body.open {
    transform: rotateY(-180deg);
}

.door-body div {
    backface-visibility: hidden;
}

.door-front {
    position: absolute;
    left: 0;
    top: 18px;
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 0.6em;
    color: #393F44;
    backface-visibility: hidden;
}

.doorknob {
    position: absolute;
    right: 6px;
    top: 50px;
    font-size: 0.3em;
    backface-visibility: hidden;
    color: #4E5760;
}

.door-info {
    position: absolute;
}

.door-info-content {
    position: relative;
    padding-top: 8px;
    text-align: center;
    color: #FAFAFA;
    font-weight: bold;
    opacity: 0;
}

.door-info-content hr {
    height: 0px;
    border: 0px;
    border-top: 1px solid rgba(250, 250, 250, 0.3);
    margin: 4px 28px 4px 28px;
}

.door-info-content button {
    border: 0px;
    margin-top: 8px;
    padding: 5px 30px 5px 30px;
    background-color: #00C634;
    color: #013A10;
    font-weight: bold;
    font-size: 1.3em;
    border-radius: 3px;
    outline: 0px;
}

.staircase {
    position: absolute;
    background-color: #191B1D;
}

/* anims */

@-webkit-keyframes floor-appear {
    0% { bottom: -35%; }
    100% { bottom: 0; }
}

@-webkit-keyframes floor-disappear {
    0% { bottom: 0; }
    100% { bottom: -35%; }
}

@-webkit-keyframes door-appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-webkit-keyframes door-disappear {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

</style>


<div class="map-scene camera event-hub" channel="door-knock character-goto">

    <div class="floor-asset-collection">

        <div class="floorboard"></div>

    </div>

</div>


<img class="menu-button menu-hidden" src="images/menu-button.svg" />

<menus id="map-menu">
  <menu src="images/back-button.svg"
    onclick="$('.map-scene').getActor().walkerFadeIntoDoor().then(function () { history.back(); });"></menu>
  <menu src="images/reset-button.svg"
    onclick="$('.map-scene').getActor().walkerFadeIntoDoor().then(function () { localStorage.clear(); location.reload(); });"></menu>
</menus>
