---
title: LD-map
js: map.js
css: map.css
---
<style>
.tmp {
    font-size: 2em;
    position: absolute;
    left: 50px;
    top: 50px;
}
</style>

<button class="reset">reset</button>

<div class="tmp">
<a href="./#0">0.json</a><br />
<a href="./#1">1.json</a><br />
<a href="./#2">2.json</a><br />
</div>
