---
title: LD-title
js: title.js
css: title.css
---
<style>

@-webkit-keyframes title-appear {
    0% { opacity: 0; transform: translate(0, 10px); }
}

@-webkit-keyframes float {
    50% { transform: scale(0.97, 1.03); }
}

@-webkit-keyframes disappear {
    0% { opacity: 1; transform: translate(0,  0px); }
    100% { opacity: 0; transform: translate(0, 10px); }
}

.title-logo {
    position: absolute;
    left: 7.5%;
    width: 85%;
    max-height: 300px;
    top: 50px;
}

.touch-here {
    position: absolute;
    top: 400px;
    width: 100%;
    text-align: center;
    text-weight: bold;
    font-size: 1.5em;
    font-family: 'sans-serif';
}

</style>

<script>

window.pages = window.pages || {};

pages.title = (function () {
    var exports = {};

    exports.main = function () {

        loadImage('images/title-logo.svg', 'title-logo elem', '#main').then(function ($img) {

            $img.css('-webkit-animation', 'title-appear 2000ms, title-appear2 5000ms');

            return wait(2000).then(function () { $img.css('-webkit-animation', 'float 6000ms infinite'); });
        })
        
        wait(500).then(function () {

            var $p = $('<p />').text('TOUCH HERE').addClass('touch-here elem').appendTo('#main');

            $p.animation('title-appear 1000ms');

            $p.click(goToMap);

            return wait(1000).then(function () {
                $p.animation('float 1000ms infinite');
            });

        });


        $('.reset').click(function () {
            $('#main').empty();

            pages.title.main();
        });

        var thingsGoOut = function () {
            var dur = 500;
            $('.elem').css('-webkit-animation', 'disappear ' + dur + 'ms').css('opacity', 0);

            return wait(dur);
        };

        var goToMap = function () {

            thingsGoOut().then(function () {
                location.href = 'map.html';
            });

        };
    };

    return exports;

}());

$(pages.title.main);

</script>

<button class="reset">reset</button>

<div id="main"></div>
