---
title: LD-title
js: title.js
main_scene: title-scene
---
<style>

@-webkit-keyframes title-appear {
    0% { opacity: 0; transform: translate(0, 10px); }
}

@-webkit-keyframes float {
    50% { transform: scale(0.97, 1.03); }
}

@-webkit-keyframes disappear {
    0% { opacity: 1; transform: translate(0,  0px); }
    100% { opacity: 0; transform: translate(0, 10px); }
}

.title-logo {
    position: absolute;
    left: 7.5%;
    width: 85%;
    max-height: 300px;
    top: 50px;
}

.touch-here {
    position: absolute;
    top: 400px;
    width: 100%;
    text-align: center;
    text-weight: bold;
    font-size: 1.5em;
    font-family: 'sans-serif';
}

</style>

<div class="title-scene"></div>

<img class="menu-button menu-hidden" menu="title-menu" src="images/menu-button.svg" />

<menus id="title-menu">
  <menu src="images/reset-button.svg" onclick="ts.reset();"></menu>
  <menu src="images/reset-button.svg" onclick="ts.reset();"></menu>
  <menu src="images/menu-button.svg">
    <menu src="images/reset-button.svg" onclick="ts.reset();"></menu>
    <menu src="images/menu-button.svg">
      <menu src="images/reset-button.svg" onclick="ts.reset();"></menu>
      <menu src="images/reset-button.svg" onclick="ts.reset();"></menu>
      <menu src="images/reset-button.svg" onclick="ts.reset();"></menu>
      <menu src="images/back-button.svg" onclick="history.back()"></menu>
    </menu>
  </menu>
  <menu src="images/back-button.svg" onclick="history.back()"></menu>
</menus>

<!-- -->
