---
title: LD-title
js: title.js
---
<style>

@-webkit-keyframes title-appear {
    0% { opacity: 0; transform: translate(0, 10px); }
}

@-webkit-keyframes float {
    50% { transform: scale(0.97, 1.03); }
}

@-webkit-keyframes disappear {
    0% { opacity: 1; transform: translate(0,  0px); }
    100% { opacity: 0; transform: translate(0, 10px); }
}

.title-logo {
    position: absolute;
    left: 7.5%;
    width: 85%;
    max-height: 300px;
    top: 50px;
}

.touch-here {
    position: absolute;
    top: 400px;
    width: 100%;
    text-align: center;
    text-weight: bold;
    font-size: 1.5em;
    font-family: 'sans-serif';
}

</style>

<script>

window.pages = window.pages || {};

pages.title = (function () {
    var exports = {};

    exports.main = function () {

        loadImage('images/title-logo.svg', 'title-logo elem', '#main').then(function ($img) {

            return $img.anim('title-appear', 2000).then(function () {
                return $img.animation('float 6000ms infinite');
            });
        })
        
        wait(500).then(function () {

            var $p = $('<p />').text('START').addClass('touch-here elem').appendTo('#main');

            $p.click(goToMap);

            return $p.anim('title-appear', 1000).then(function () {
                $p.animation('float 1000ms infinite');
            });

        });


        $('.reset').click(function () {
            $('#main').empty();

            pages.title.main();
        });

        var thingsGoOut = function () {
            return $('.elem').css('opacity', 0).anim('disappear', 500);
        };

        var goToMap = function () {

            thingsGoOut().then(function () {

                return domain.common.BackgroundService.turnBlack();

            }).then(function () {

                location.href = 'map.html';

            });

        };
    };

    return exports;

}());

$(pages.title.main);

</script>

<button class="reset">reset</button>

<div id="main"></div>
