@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #C1C6CB;
    color: #191B1D;
    transition-duration: 700ms;
}

.hidden {
    visibility: hidden;
}

.dark-bg {
    color: #C1C6CB;
    background-color: #191B1D;
}

.menu-button {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 47px;
    height: 47px;
    transition-duration: 800ms;
}

.menu-button.menu-hidden, .life-button.menu-hidden {
    left: -50px;
}

.menu-item {
    position: absolute;
    width: 47px;
    height: 47px;
    transition-duration: 400ms;
}

.menu-item.hidden {
    opacity: 0;
}

.life-button {
    position: absolute;
    left: 15px;
    top: 15px;
    width: 47px;
    height: 47px;
}

.sprite {
    position: absolute;
}

.char {
}


@-webkit-keyframes char-appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-webkit-keyframes char-disappear {
    0% { opacity: 1 }
    100% { opacity: 0 }
}
