.ground {
  position: fixed;
  width: 100%;
  height: 20%;
  top: 80%;
  background-color: #4E5760;
  transition-property: transform;
  transition-duration: 500ms;
  transform: scale(1, 0);
}

.ground.showing {
  transform: scale(1, 1);
}
