<html>
  <head>
    <title>{{ file.frontMatter.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ basepath }}/common/index.css" />
    {% for css in file.frontMatter.css %}
    <link rel="stylesheet" href="{{ basepath }}{{ css }}" />
    {% endfor %}
    {% if IS_DEV %}
    <link rel="stylesheet" href="{{ basepath }}/debug/index.css" />
    {% endif %}
    <link rel="stylesheet" href="{{ basepath }}/vendor/css/tether.css" />
    <link rel="stylesheet" href="{{ basepath }}/vendor/css/drop-theme-arrows-bounce.css" />
    <link rel="stylesheet" href="{{ basepath }}/asset/emoji/css/emoji.css" />
    <link rel="icon" href="{{ basepath }}/img/favicon.png" />

    <script>window.config = {{ config | dump | safe }}</script>
    <script>window.BASEPATH = '{{ basepath }}'</script>
    <script src="{{ basepath }}/js/common.js"></script>
    <script src="{{ basepath }}/infrastructure.js"></script>
    {% for js in file.frontMatter.js %}
    <script src="{{ basepath }}/js/{{ js }}"></script>
    {% endfor %}
    {% if IS_DEV %}
    <script src="{{ basepath }}/js/debug/debug.js"></script>
    {% endif %}
    <script>
      $(function () {
        setTimeout(function () {
          $('#main')[0].dispatchEvent(new CustomEvent('scene-start'))
        }, 200);
      });
    </script>
  </head>
  <body{% if file.frontMatter.body %} class="{{ file.frontMatter.body }}"{% endif %}>
    {{ contents | safe }}
  </body>
  {% if IS_DEV %}
  <script>window.presets = {{ presets | dump | safe }}</script>
  {% endif %}
</html>
