<html>
<head>
<title><%= current_page.data.title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/swipe-event/swipe-event.js"></script>
<script src="../bower_components/swipe-event/swipe-cross.js"></script>
<script src="../bower_components/arrowkeys/arrowkeys.js"></script>
<script src="../js/util.js"></script>
<script src="../js/color.js"></script-->
    
<link rel="stylesheet" href="./stylesheets/all.css" />

<script>window.config = <%= settings.config.to_json %></script>
<script src="./javascripts/common.js"></script>
<script src="./javascripts/<%= current_page.data.js %>"></script>

</head>
<body>
<%= yield %>
</body>
</html>
