.debug-panel {
  z-index: 3;
  position: fixed;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
  height: 85%;
  top: -85%;
  transition-duration: 500ms;
}

.debug-panel h2 {
  color: hsla(200, 100%, 45%, 1.0);
  padding: 12px;
  margin: 0px;
  font-weight: bold;
  font-size: 1em;
  background-color: white;
}

.debug-panel .toggle {
  position: absolute;
  bottom: -35px;
  right: 25px;
  background-color: rgba(0,0,0,0.1);
  width: 100px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.debug-panel button {
  border: solid 0px;
  border-radius: 4px;
  margin: 2px;
  background-color: rgba(0,0,0,0.1);
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 0.8em;
  font-weight: normal;
  padding: 10px;
}

.debug-bold {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  margin: 30px;
}
