.ground {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 80%;
  background-color: #4E5760;
  transition-property: transform;
  transition-duration: 500ms;
  transform: scale(1, 0);
}

.ground.showing {
  transform: scale(1, 1);
}

.house {
  position: absolute;
  margin-top: -100px;
  width: 100px;
  height: 100px;
  left: 20%;
  top: 80%;
  background-color: blue;
  transition-duration: 500ms;
  transform: scale(1, 0);
}

.house.showing {
  transform: scale(1, 1);
}
