
.room {
  position: relative;
}

.window {
  position: absolute;
  background-color: #2b4a96;
}

.hero {
  position: absolute;
}

.exit {
  position: absolute;
  background-color: #2b4a96;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
}

@-webkit-keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@-webkit-keyframes fade-out {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
