
.room {
  position: relative;
}

.window {
  position: absolute;
  background-color: #9316FF;
}

@-webkit-keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@-webkit-keyframes fade-out {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
