.m .in { fill: #0B6AC6; }
.m .bg { fill: #083D71; }
.f .in { fill: #EF3559; }
.f .bg { fill: #9D001F; }
.a .in { fill: #8000EF; }
.a .bg { fill: #32015C; }
.w .in { fill: #F7BC47; }
.w .bg { fill: #DB9100; }
.b .in { fill: #636E79; }
.b .bg { fill: #191B1D; }
