@charset "utf-8";
@import "../ui/common/index";

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: #C1C6CB;
  color: #191B1D;
  transition-duration: 700ms;
}

.hidden {
  visibility: hidden;
}

.dark-bg {
  color: #C1C6CB;
  background-color: #191B1D;
}

.menu-button-root {
  position: absolute;
  z-index: 2;
  bottom: 15px;
  left: 15px;
  width: 47px;
  height: 47px;
  transition-duration: 800ms;
}

.menu-button-root.hidden {
  left: -50px;
}

.menu-item {
  position: absolute;
  width: 47px;
  height: 47px;
  z-index: 2;
  transition-duration: 400ms;
}

.menu-item.hidden {
  opacity: 0;
}

.sprite {
  position: absolute;
}

.punch-emoji {
  transition-duration: 400ms;
  transition-property: opacity;
}

.emoji-round-yellow {
  background-color: yellow;
  border-radius: 12px;
}

@-webkit-keyframes char-appear {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@-webkit-keyframes char-disappear {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

@-webkit-keyframes jump {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, -30px); }
  100% { transform: translate(0, 0px); }
}
